.mainSearch {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchInput {
    width: 100%;
    padding: 20px;
    border: 1px solid #454545;
    border-radius: 4px;
    outline: none;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: orange;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}
