.homepage {
    color: black;
    text-align: center;
    margin-top: 10vh;
}
.titlePart {
    color: green;  
    font-size: larger; 
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-bottom: 20px; 
}

.hostelListmain {
    margin-top: 20px;
}
