.hostelList {
    padding: 20px;
}

.hostelList h1 {
    color: white;
    text-align: left;
    margin-bottom: 0;
}

.hostelFilter {
    padding: 0px;
    margin-bottom: 10px; 
}

.hostelFilter p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px; 
}

.filterBtn {
    display: flex;
    gap: 10px;
}

.filterTypeBtn, .filterLocationBtn, .fillerRatingBtn {
    padding: 10px 20px;
    font-size: 1rem;
    color: black; 
    background-color: #808080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

.filterTypeBtn:hover, .filterLocationBtn:hover, .fillerRatingBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.filterTypeBtn:focus, .filterLocationBtn:focus, .fillerRatingBtn:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); 
}


.hostelContainer {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    max-width: 1000px; 
}

.hostelItem {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px;
    background-color: #c7c7c7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%; 
    text-align: left;
}

.hostelImage {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    margin-right: 15px;
}

.hostelDetails {
    text-align: left;
}

.hostelHeader {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
}

.hostelName {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.hostelRating {
    display: flex;
    margin-top: 5px; 
}

.filledStar {
    color: green; 
    font-size: 1.2rem;
}

.emptyStar {
    color: red; 
    font-size: 1.2rem;
}

.hostelDescription {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.hostelLocation {
    margin: 10px 0;
    font-size: 0.9rem;
    color: black;
}

.hostelButton, .hostelBtn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.hostelButton {
    background-color: orange;
}

.hostelButton:hover {
    background-color: #e9e63b;
    color: black;
}

.hostelBtn {
    background-color: #2e832f;
    margin-left: 4px;
}

.hostelBtn:hover {
    background-color: #4ccf4d;
    color: black;
}
